.terraform/
.terraform.lock.hcl
./terraform-task1/.terraform/
./terraform-task1/.terraform.lock.hcl
./terraform-task2/.terraform/
./terraform-task2/.terraform.lock.hcl
./terraform-task3/.terraform/
./terraform-task3/.terraform.lock.hcl
./terraform-task4/.terraform/
./terraform-task4/.terraform.lock.hcl
./terraform-practice/terraform-task-vpc/.terraform/
./terraform-practice/terraform-task-vpc/.terraform.lock.hcl
./terraform-practice/terraform-task-S3/.terraform/
./terraform-practice/terraform-task-S3/.terraform.lock.hcl