.terraform/
.terraform.lock.hcl
./terraform-task1/.terraform/
./terraform-task1/.terraform.lock.hcl
./terraform-task2/.terraform/
./terraform-task2/.terraform.lock.hcl
./terraform-task3/.terraform/
./terraform-task3/.terraform.lock.hcl